tests/compressed/figure*
tests/decompressed/figure*
test/figure*
tests/figure*
compressed*/figure*
decompressed*/figure*
logs/
tmp/
tests/comp_jpeg/data*

*.h5
*.tfci
*.pb
*.index
*.data-*-of-*
__pycache__
checkpoint
checkpoint/
variables/

