tests/compressed/figure*
tests/decompressed/figure*
test/figure*
tests/figure*
compressed*/figure*
decompressed*/figure*
logs/
tmp/
tests/comp_jpeg/data*

*.h5
*.tfci
*.pb
*.index
*.data-*-of-*
__pycache__
checkpoint
checkpoint/
variables/

compressed/wavelet
compressed/curvelet
tests/comp_curvelet/CurveLab-2.1.3
tests/comp_curvelet/fftw-2.1.5
tests/comp_curvelet/swig-4.1.1
*tar.gz
*.png
*.jpg
*.j2k
*.pkl
*.txt
*.npz
*.json
*.pdf
*.DS_Store
cctorch.log
